<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Story Point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Welcome to Nextgen Scrum</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Kindly Choose the story point</p>
    </ion-card-content>
  </ion-card>
    <div class="search-results">
      <div class="result-section">
        <div *ngFor="let item of dataArr; let i = index" class="series" (click)="goToStoryDetailPage(item)">
          {{item}}
        </div>
      </div>
    </div>
</ion-content>