<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>story-listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="presentActionSheet(story)" *ngFor="let story of storyList">
    <ion-card-header>
      <ion-card-title>
        {{story.number}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{story.title}}
    </ion-card-content>
  </ion-card>
</ion-content>